section
  h3.red Learning to code is not so hard
  h4.blue But don't believe anyone who tells you learning to code is easy
section
  | Show less, speak more.
section
  p
    | As XXX has introduced about <strong>Software Engineers</strong>. I think everyone in this room has known who the software engineers are and what they do.
  p
    | Hmmm, I have a secret to tell. Do you want to know that secret? First, I want to ask Anyone in this room wants to be a software developer?
  p.red
    | In fact, <strong>Learning how to code (or how to be a software developer) is not hard</strong> as everyone assumed.
  small.red
    | And It's not necessary to waste your time in University if you just want to learn how to code.
  p.blue
    | Do you believe that?
section
  p.fragment
    img(src='https://image.prntscr.com/image/HWvL8YFOSySgAYPOyRbkuw.png')
  p.fragment
    | Even an old woman can do it, can't you?
section
  small.fragment
    | And a seven years old kid, who became the world's youngest programmer.
  p.fragment
    img(src='https://image.prntscr.com/image/XmxLLezERLWme5Uu5Vphrw.png')
section.yellow
  p.fragment
    | And you...?
  p.fragment
    img(style='display: inline-block;' src='http://i.imgur.com/mOOZ6Ml.jpg')
section.yellow
  p.fragment
    | And ...
  p.fragment
    img(style='display: inline-block;' src='http://i.imgur.com/YojJm46.jpg')
section
  p
    | OK, That's enough for it.
  p
    | To be continued, I am going to start with <strong class='yellow'>Why?</strong>. Yup!, I think it's important to know why you should being a software developer?
section
  ul
    li
      | You can make a difference and help the world be better with your skills and talents.
    li
      | Software Engineers are in high demand now.
    li
      | Because they are in high demand, so the market pays them well. In Vietnam market, You can earn more than $1000 with just 1 or 2 years of experiences. $1500 to $2000 for seniors and much more than that for a managing position. Not just high salary, some company have provided a lots of other benefits to attract talents.
    li
      | With good English, you can easily work abroad too. Australia, UK, Japan, Singapore, Malaysia, Thailand, etc. Those countries are short of developers.
section
  img(src='https://image.prntscr.com/image/MNfRE0XwQcSWKEnAU8Xnmg.png')
  small
    | This is a jobs board that I have just seen on Vietnamworks.com.
section
  img(src='https://image.prntscr.com/image/W0N1_kJmTX_fDh6y-bZDRQ.png')
  small
    | Getlinks is a job agency that focus on recruit developers for Top Asia Company.
section
  p.fragment
    | My co-worker, who is receiving 15 millions dong per month for just 4 working hours a day, 4~5 working days a week? (Yeah, It depends on his class schedule, he has a flexible working time.).
  p.fragment
    | You know what? He's just a 3rd year student in his university and works as part-time for my company.
section
  p.yellow.fragment
    | <strong>The Dark Side</strong>
  p.red.fragment
    | It's not fair if I just tell you all good things. Software Engineer profession has its dark side too.
  ul
    li.fragment
      | Sometimes it's very stressful because the pressure is very large. (I know a lots of SEs had worked day and night, it's probably not good for their health.)
    li.fragment
      | Technology is changing too quickly so it required you always learn and update yourselves.
section
  p
    | I pretend that some of you want to become a software developer. But <strong class='yellow'>How?</strong>. Yes, that is what I am talking next.
section
  p
    | Fortunately that now, we have a lots of resources that can help you learn to code. You can access them easily. And most of them are free or at a low cost.

